# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. JAVA
2. Scala
3. Python


Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matlibplot
3. Seaborn

| Data Science Tools | 
| -------------| 
| Tableu | 
| Matlab | 
| Apache spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

Objectives:
List popular languages for Data Science

* Java
* Python
* R
* Scala

## Author
Delaxshana